################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/WPFCodeCreator/v16
/MVVMCore/bin/Debug/net5.0-windows
/MVVMCore/obj/Debug/net5.0-windows
/WPFCodeCreator/bin/Debug/net5.0-windows
/WPFCodeCreator/obj
/MVVMCore/obj
/MVVMCore/bin/Release/net5.0-windows
/WPFCodeCreator/bin/Release/net5.0-windows
/WPFCodeCreatorInstaller/Release
/WPFCodeCreatorInstaller/Debug
/.vs/WPFCodeCreator/DesignTimeBuild
/.vs/WPFCodeCreator
/WPFCodeCreator/bin/Debug/net6.0-windows7.0
/WPFCodeCreator/bin/Release/net6.0-windows7.0
/.vs/ProjectEvaluation
/WPFCodeCreatorInstaller
