################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/WPFCodeCreator/v16
/MVVMCore/bin/Debug/net5.0-windows
/MVVMCore/obj/Debug/net5.0-windows
/WPFCodeCreator/bin/Debug/net5.0-windows
/WPFCodeCreator/obj
/MVVMCore/obj
